.popup-container {
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: absolute;
    margin: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
.table-analytics tbody tr td {
    padding: 4px;
}
.label-analytics {
    margin-bottom: 20px;
}