.popup-container {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
.table-analytics {
    border-collapse: collapse !important;
}
.table-analytics tbody tr td {
    color: #616161 !important;
    font-size: 12px !important;
    padding: 4px !important;
}
.label-analytics {
    color: #757575 !important;
    margin-bottom: 20px !important;
}